.container {
  background-color: #611829;
  border-radius: 15px;
  margin-top: 3%;
  color: #ffffff;
  padding: 0.5%;

  .contaiener__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 0%;

    div {
      width: 30%;
      i {
        margin: 0% 3%;
      }
    }

    ul {
      width: 30%;
      text-align: end;
      li {
        display: inline;
        padding: 3%;
      }
    }
  }

  .panel {
    border-radius: 15px;
    background-color: #fcfcfc;

    .panel__data {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 0.5%;

      .panel__fruits {
        background-color: #419d47;
        width: 50%;
        border-radius: 15px;
        padding: 0.5%;
        margin: 0.3%;
        text-align: center;

        span {
          color: #ffffff;
          font-weight: bold;
        }

        ::-webkit-scrollbar {
          width: 14px;
        }

        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 14px 14px transparent;
          border: solid 2px transparent;
        }

        ::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 14px 14px #bbbbbe;
          border: solid 2px transparent;
          border-radius: 14px;
        }

        ::-webkit-scrollbar-button {
          display: none;
        }

        .fruits {
          background-color: #fcfcfc;
          border-radius: 15px;
          padding: 3%;
          height: 60%;
          overflow-y: scroll;

          .product__card {
            margin: 3%;
            border-radius: 10px;
            border: 1px solid #419d47;
            border-left: 5px solid #419d47;
            cursor: pointer;
          }

          .product__card li:nth-child(1) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            letter-spacing: 2px;
            color: #000000;
            font-weight: bold;
          }

          .product__card li:nth-child(2) {
            color: #000000;
            text-align: start;
          }

          .product__card li:nth-child(3) {
            color: #00a50b;
            font-weight: bold;
          }
        }
      }

      .panel__market {
        background-color: #eeeeee;
        width: 50%;
        border-radius: 15px;
        padding: 0.5%;
        margin: 0.3%;
        text-align: center;

        span {
          color: #611829;
          font-weight: bold;
        }

        ::-webkit-scrollbar {
          width: 14px;
        }

        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 14px 14px transparent;
          border: solid 2px transparent;
        }

        ::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 14px 14px #bbbbbe;
          border: solid 2px transparent;
          border-radius: 14px;
        }

        ::-webkit-scrollbar-button {
          display: none;
        }

        .list {
          background-color: #fcfcfc;
          border-radius: 15px;
          height: 60%;
          overflow-y: scroll;
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .container {
    .panel {
      .panel__data {
        flex-direction: column;

        .panel__fruits {
          width: 100%;
        }
        .panel__market {
          width: 100%;
        }
      }
    }
  }
}
