<div class="container">
  <div class="contaiener__nav">
    <div>
      <span>PRODUTOS</span>
      <i class="fas fa-search"></i>
    </div>
    <ul>
      <li><i class="fas fa-list"></i></li>
      <li><i class="fas fa-expand"></i></li>
      <li><i class="fas fa-chevron-down"></i></li>
    </ul>
  </div>

  <div class="panel">

    <!-- product card -->
    <app-product-category-filter></app-product-category-filter>

    <div class="panel__data">
      <div class="panel__fruits">
        <span>PRODUTOS</span>
        <div class="fruits">

          <div class="row">
            <div class="product__card col-lg-5 col-md-5" *ngFor="let product of products"
              (click)="atualizaIdProduto(product.id)">
              <ul>
                <li>{{ product.product_type }} {{ product.product_name }}</li>
                <li>ENVIADO EM {{ product.shipping_date}}</li>
                <li *ngIf="product.status === 'em estoque'" [ngStyle]="{'color': 'green'}">{{ product.status}}</li>
                <li *ngIf="product.status === 'em falta'" [ngStyle]="{'color': 'red'}">{{ product.status}}</li>
                <li *ngIf="product.status === 'pouco em estoque'" [ngStyle]="{'color': 'yellow'}">{{ product.status}}
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="panel__market">
        <span>MERCADO</span>
        <div class="list">
          <app-stock-market-card [idProduct]="idProduct"></app-stock-market-card>
          <div style="margin-top: 20%;" *ngIf="idProduct == 0">
            <h1 style="color: orangered;">Nenhum produto selecionado!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
