<div class="panel__nav">
  <button type="button" class="btn btn-outline-success">FRUTAS</button>
  <button type="button" class="btn btn-outline-danger">MASSAS</button>
  <button type="button" class="btn btn-outline-warning">CARNES</button>
  <button type="button" class="btn btn-outline-primary">LATICÍNIOS</button>
  <button type="button" class="btn btn-outline-secondary">BEBIDAS</button>
  <button type="button" class="btn btn-outline-dark">CEREAIS</button>
  <button type="button" class="btn btn-outline-dark">LEGUMINOSAS</button>
</div>
